* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.intro img {
  height: 20rem;
}

.nav-bar {
  display: flex;
  background-color: rgb(255, 255, 255);
  min-height: 10vh;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  font-size: 2rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(to right bottom, rgba(163, 233, 238, 0.3), transparent), url(/overwatch-1.jpg);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h2 {
  font-size: 2.5rem;
  padding: 1.5rem;
  font-family: "Tourney", cursive;
}

.hero button {
  margin: 2rem;
  padding: 2rem;
}

.intro {
  /* min-height: 100vh; */
  display: flex;
  flex-wrap: wrap;
}
.intro img {
  flex: 1 1 50rem;
  height: 10%;
  width: 10%;
}

.intro div {
  background-color: wheat;

  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 80rem;
}

/* nav ul {
  display: flex;
} */
